# Byte-compiled / optimized / DLL files
__pycache__/
SolMOSA/__pycache__/
*.py[cod]
*$py.class5

# Ignore random code
TestCode/

# Ignore runtime files
Runtime\ Files/

#Ignore logs
*.log

#Ignore Rapports
Rapports/


#Ignore result and/or runtime files
SolMOSA/results.csv
SolMOSA/debugs.txt
SolMOSA/returnvals.txt
SolMOSA/tests.txt
